apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: kuard-replicaset
spec:
  replicas: 3
  selector:
    matchLabels:
      app: kuard
  template:
      metadata:
        labels:
          app: kuard
      spec:
        automountServiceAccountToken: false
        containers:
          - name: kuard
            image: jmutai/kuard-amd64:blue
            resources:
              requests:
                cpu: "250m"
                memory: "256Mi"
                ephemeral-storage: "1Gi"
              limits:
                memory: "512Mi"
            ports:
              - containerPort: 8080
                name: http
                protocol: TCP
            livenessProbe:
              httpGet:
                path: /healthy
                port: 8080
              initialDelaySeconds: 15
              timeoutSeconds: 2
              periodSeconds: 20
              failureThreshold: 3
            readinessProbe:
              httpGet:
                path: /ready
                port: 8080
              initialDelaySeconds: 5
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 3
              successThreshold: 1
