apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: snowflake-replicaset
spec:
  replicas: 3
  selector:
    matchLabels:
      app: snowflake
  template:
      metadata:
        labels:
          app: snowflake
      spec:
        automountServiceAccountToken: false
        containers:
          - name: snowflake-id-generator
            image: seneka810/snowflake-id-generator:v1
            resources:
              requests:
                cpu: "250m"
                memory: "256Mi"
                ephemeral-storage: "1Gi"
              limits:
                memory: "512Mi"
            ports:
              - containerPort: 8080
                name: http
                protocol: TCP
            livenessProbe:
              httpGet:
                path: /management/health/livenessState
                port: 8080
              initialDelaySeconds: 15
              timeoutSeconds: 2
              periodSeconds: 20
              failureThreshold: 3
            readinessProbe:
              httpGet:
                path: /management/health/readinessState
                port: 8080
              initialDelaySeconds: 5
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 3
              successThreshold: 1
